.root {
  display: flex;
  flex-direction: column;
  gap: var(--app-space-6);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--app-space-6);
  min-height: var(--app-space-10);
}

.action {
  display: flex;
  flex: none;
  align-items: center;
}

.toneInverse .header {
  color: var(--app-color-text-on-brand);
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--app-space-6);
}
