.root {
  display: flex;
  flex-direction: column;
}

.action {
  margin-top: var(--app-space-10);
}

.confirmations {
  display: flex;
  align-items: center;
  gap: var(--app-space-3);
}

.avatars {
  display: flex;
}

.avatars > * + * {
  margin-left: -0.8rem;
}
